.sidebar-item {
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 20px;
  background-color: #3d3d41;
  color: #e7e7e7;
}

.sidebar-item:hover {
  background-color: #4b4b50;
  transform: scale(1.05);
}

.mat-icon-resized {
  transform: scale(1.5);
}
