<div class="flexbox-container">
  <div class="flexbox-item"><img id="profilePicture" src="./assets/profilePic.jpg" alt="profilePic"></div>
  <div class="flexbox-item">
      <h1 id="head-line-text">Hey, I'm an aspiring developer and currently studying at Umeå university.</h1>
      <a href="https://www.linkedin.com/in/oscar-tideman-5787a020a/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/OscarTideman" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
  </div>
</div>
<div class="flexbox-container">
  <p>
      My name is Oscar Tideman and are currently studying M.sc student in Interaction Technology & Design.
      From different courses i've learned to program in C, Java and JavaScript. In my free time i've been learning
      more JavaScript to hone my skills as a front-end engineer and I also play ALOT of disc golf.
  </p>
  <div id="cursor"></div>
</div>
