<div class="flexbox-container">
  <app-project-card
  [title]="'Monsterarenan'"
  [description]="'Monsterarenan is a pokemon-clone battle simulator built in asp.net with live multiplayer by using websockets and hubs! It uses .NET libraries such as Identity to authenticate users and SignalR for websockets.'"
  ></app-project-card>
  <div class="images">
    <img src="./assets/WelcomeSnowpooper.png" alt="WelcomeSnowpooper">
    <img src="./assets/ProfileSnowpooper.png" alt="ProfileSnowpooper">
  </div>
</div>

<div class="flexbox-container">
  <app-project-card
  [title]="'StackPal'"
  [description]="'StackPal is a native mobile app that helps the user to load trucks more efficiently. By adding each item to the app it will calculate and visualise the loading process for the user.'"
  ></app-project-card>
  <div class="images2 images">
    <img src="./assets/StackPalhem.png" alt="stackpalhem">
    <img src="./assets/stackpal.png" alt="stackpal">
  </div>
</div>
